page-questions {

}

.questionBody{
    margin: 100px auto;
}

.questions{
    padding: 5px;
    margin-left: 5%!important;
}

button.activate{
    background: lightcoral;
    color: beige;
}
.answerlist{
    padding: 10px 5px;
}
.answerListval{
    font-weight: 100;
    border: 1px solid #caca;
    border-radius: 5px;
    margin: 10px;
    width:200px;
}

.item-md-4{
    width: 30%;
    display: inline-block;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}