
<div class="loader" *ngIf="!question.QuestionLoded;else questionTemplatee"></div>

<ng-template #questionTemplatee>
    <div class="questionBody">
        <ion-card>
            <div class="questions">
                <!--style="width:85%;float:right;margin-top:15px"-->
                <div class="item-md-12">
                    <!--style="width:50%;float:left;"-->
                    <div class="item-md-4">
                        <p> {{question.currentIndex}} / 20</p>
                    </div>
                    <!--style="width: 50%;float:right;"-->
                    <div class="item-md-4">
                        <!--<p> Points: {{question.totalPoints}}</p>-->
                    </div>
                    <div class="item-md-4">
                        <p> Timing : {{question.timer.min}}:{{question.timer.sec}}</p>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div style="width:80%;margin:auto;margin-top:50px;">
                <p style="font-size:16px">{{question.currentQuestion.question}}</p>
            </div>
            
            <div style="clear:both"></div>
          <ion-card-content>
              <ion-list class="answerlist">
                <button outline round ion-item 
                [ngClass]="{activate:i == question.selectedAnswerIndex}"
                class="answerListval"
                *ngFor="let item of question.currentQuestion.all_answers;let i = index" 
                (click)="selectedItemindex(i)"
                >
                    {{item}}
                </button> 
              </ion-list>
          </ion-card-content>
        </ion-card>
        <button 
        [disabled]="!question.answerSelected"
        ion-button outline round 
        class="submitButton" 
        (click)="navPu()">Next</button>
      </div>
</ng-template>
